*{
margin: 0px;
padding: 0px;
}
header{
background-color: rgb(28, 28, 75);
width: 100%;
height: 50px;
}
header h2{
color: aquamarine;
padding: 10px;
text-align: center;
}
h2:hover{
color: brown;
font-family: 'Times New Roman', Times, serif;
}
.row{
display: flex;
justify-content: space-around;
background-color: rgba(50, 208, 110) transparent;
width: 100%;
height: 800px;
align-items: center;
background-image: url(https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
border: 200px;
}
.col{
background-color: rgba(110, 169, 149) transparent;
width: 250px;
height: 400px;
margin-left: 10px;
border: 200px;
}
img{
height: 200px;
padding: 0px;
border-radius: 10%;
}
h4,h5{
text-align: center;
color: rgb(200, 195, 230);
}
.bt1{
color: beige;
mask-border-outset: 20px;
animation: linear;
background-color: rgb(63, 161, 135);
padding: 5px;
margin-left:90px;
}
footer,p{
background-color: rgb(120, 188, 188);
width: 100%;
height: 50px;
color: rgb(73, 57, 175);
}
.banner{
background-image: url(https://img.lovepik.com/background/20211022/large/lovepik-a-book-that-blossomed-in-the-dark-background-image_500602193.jpg);
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
}
.pic{
background-image: url(https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
}
